html {
    background-color: rgb(115, 211, 211);
    font-family: "Lucida Bright",serif;
}

body {
    background-color: azure;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 45rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

figure {
    margin-top: -2rem;
}

#Main_header {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(44, 95, 95);
    margin-top: -17rem;
}

#Subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(44, 95, 95);
    margin-top: -0.5rem;
    margin-left: -13rem;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputpassword {
    display: flex;
    flex-direction: row;
    width: 25rem;
}

.Show_botton {
    width: 4.5rem;
    height: 3.2rem;
    margin-top: 1rem;
    cursor: pointer;
    color: azure;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(58, 128, 128);
    border: 0;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}


input[type="submit"] {
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    color: azure;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(58, 128, 128);
    border: 0;
    margin-left: 1rem;
    margin-top: 3rem;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

input[type="password"],
input[type="text"] {
    width: 25rem;
    padding: 1rem;
    margin-top: 1rem;
}