body {
    
    background-color: #f5f5f5;
    text-align: center;
    width: 50rem;
    margin: 0 auto;
}

.written {
    text-align: center;
    margin: 20px;
}

.mainheader {
    font-family:"Helvetica", arial, sans-serif;
    font-size: 62px;
    line-height: 65px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #2d2e2e;
}

.subtitle {
    font-family: "inter",Helvetica, arial, sans-serif;
    font-size: 24px;
    line-height: 10px;
    font-weight: 400;
    color: #403f3e;
}

.date {
    font-family: "inter",Helvetica, arial, sans-serif;
    font-size: 15px;
    padding-top: 1rem;
    line-height: 6px;
    font-weight: 300;
    color: #403f3e;
}

.photo {
    margin: 0 auto;
    border-width: 500rem;
    padding-top: 2rem;
    
}

.photo_description {
    font-family: "inter",Helvetica, arial, sans-serif;
    font-size: 15px;
    padding-top: 1rem;
    line-height: 6px;
    font-weight: 300;
    color: #403f3e;
    background-color: #d6d6d6;
    margin: 2px;
    padding: 20px 3px;
    max-width: 700px;
    

}

.paragraph {
    font-family: var("inter",Helvetica, arial, sans-serif);
    max-width: 700px;
    margin: 0 auto 1.5rem;
    font-size: 1.3rem;
    color: #403f3e;
    padding-top: 2rem;
    text-align: left;  
}

