body {
    --font-main: "inter",Helvetica, arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    width: 50rem;
    margin: 0 auto;
}

:root {
    --color-main:#403f3e;
}

.text_container {
    text-align: center;
    margin: 1.25rem;
}

.top_first_header {
    font-family:"Helvetica", arial, sans-serif;
    font-size: 3.875rem;
    line-height: 4.063rem;
    font-weight: 800;
    color: #2d2e2e;
}

.second_title {
    font-size: 1.5rem;
    line-height: 0.625rem;
    font-weight: 400;
    color: var(--color-main);
}

.name_author_and_date {
    font-size: 0.938rem;
    padding-top: 1rem;
    line-height: 0.375rem;
    font-weight: 300;
    color: var(--color-main);
}

.photo {
    margin: 0 auto;
    border-width: 500rem;
    padding-top: 2rem;
    
}

.photo_description_on_grey {
    font-size: 0.938rem;
    padding-top: 1rem;
    line-height: 0.375rem;
    font-weight: 300;
    color: var(--color-main);
    background-color: #d6d6d6;
    margin: 0.125rem;
    padding: 20px 3px;
    max-width: 43.75rem;
    

}

.paragraph_of_article {
    max-width: 43.75rem;
    margin: 0 auto 1.5rem;
    font-size: 1.3rem;
    color: var(--color-main);
    padding-top: 2rem;
    text-align: left;  
}

