body {
    display: flex;
    flex-direction: column;
}

:root {
    --font-main:"Arial", sans-serif;
    --font-secundary:"Roboto", sans-serif;
    --background-main-color:rgb(240, 239, 239);
}

.header_container {
    display: flex;
    flex-direction: row;
    background-color: var(--background-main-color);
}

.logo_button {
    border: none;
    margin-left: -4rem;
    width: 15rem;
    height: 3rem;
    background-color:var(--background-main-color);
}

.name {
    font-family:  var(--font-main);
    font-size: 1.4rem;
    font-weight: 700;
    transform: scaleY(1.5);
    transform: scale(1.5);
    background-color: rgb(224, 224, 224);
    margin-top: 0.7rem;
    margin-left: -3rem ;
    border: 2rem;
    max-height: 0rem;
    
}


.search_bar {
    display: flex;
    justify-content: end;
    border: none;
    margin-top: -2.5rem;
    margin-right: 0.5rem ;
    height: 2rem;
}

.menu_bar {
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    background-color: var(--background-main-color);
    border: none;
    margin-top: 1rem;
    margin-left: 3rem ;
    cursor: pointer;
}

poster {
    background-color: #F7d6db;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    margin-top: 4rem;
    width: 95%;
}

.header_fruit {
    font-family:  var(--font-main);
    font-size: 3rem;
    font-weight: 520;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.description_product {
    font-family:  var(--font-main);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 2rem;
    margin-right: 10rem
}

.product_price {
    font-family: var(--font-secundary);
    color: #379237;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.buy_button_poster {
    background: linear-gradient(to bottom, #AED581, #558B2f);
    color: white;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 10%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.right_imagen {
    margin-top: 1.5rem;
    
}

.fruits{
    font-family: var(--font-secundary);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 0rem;
    margin-top: 5rem
}

catalog {
    display: flex;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 6px;
    border-radius: 1rem;
    width: 22rem;
    height: 30rem;
}

.imagen_card {
    margin-left: 3rem;
    margin-top: 0.5rem
}

.name_fruit {
    font-family:  var(--font-main);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0rem
}

.description_fruit {
    font-family:  var(--font-main);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 0%;
    margin-top: 0rem
}

.price_card {
    font-family:  var(--font-main);
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    transform: scaleY(1.5);
    margin-top: 0rem
}

.buy_botton_card {
    background-color: black;
    color: aliceblue;
    width: 35%;
    height: 2.5rem;
    cursor: pointer;
    align-self: center;
    border-radius: 0.5rem;
}

.footer {
    background-color: #F7d6db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 3rem
}

.main_h1 {
    font-family: var(--font-secundary);
    font-weight: 700;
}

.sec_h2 {
    font-family:  var(--font-main);
    font-weight: 500;
    font-size: 1rem;
    margin-top: -1rem;
}

.email {
    border: none;
    width: 24%;
    height: 2.5rem;
}

.send {
    background: linear-gradient(to bottom, #AED581, #558B2f);
    color: white;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    width: 10%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}