body {
    background-color: rgb(207, 206, 206);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container_one {
    background-color: #e7e5e5ff;
    width: 90%;
    height: 90%;
    margin: 1.5em;
    box-shadow: 0px 3px 6px
}

.container_two {
    background-color: #e7e5e5ff;
    width: 90%;
    height: 90%;
    margin: 1.5em;
    box-shadow: 0px 3px 6px
}

.container_three {
    background-color: #e7e5e5ff;
    width: 90%;
    height: 90%;
    margin: 1.5em;
    box-shadow: 0px 3px 6px
}

.photo_one_bear {
    width: 85%;
    height: auto;
    margin-top: 6%
}

.photo_two_leon {
    width: 85%;
    height: auto;
    margin-top: 6%
}

.photo_three_tiburon {
    width: 85%;
    height: auto;
    margin-top: 6%
}

.bear_title {
    font-family:"Aptos Black", sans-serif;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 7%;
    margin-bottom: 2%;
}

.leon_title {
    font-family:"Aptos Black", sans-serif;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 7%;
    margin-bottom: 2%;
}

.tiburon_title {
    font-family:"Aptos Black", sans-serif;
    font-weight: 600;
    margin-top: 3%;
    margin-left: 7%;
    margin-bottom: 2%;
}

.content_bear {
    font-family:"Aptos Black", sans-serif;
    font-size: 100%;
    font-weight: 300;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 9%;  
}

.content_leon {
    font-family:"Aptos Black", sans-serif;
    font-size: 100%;
    font-weight: 300;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 9%;  
}

.content_tiburon {
    font-family:"Aptos Black", sans-serif;
    font-size: 100%;
    font-weight: 300;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 9%;  
}
