#container {
    font-family: "Arial", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 0rem;
    margin-top: 3rem;
}

.redBackground {
    background-color: red;
}
.blueBackground {
    background-color: blue;
}
.greenBackground {
    background-color: green;
}
.greenBackground {
    background-color: yellow;
}
.cyanBackground {
    background-color: cyan;
}
.pinkBackground {
    background-color: pink;
}